#skills article, #hobbies article  {
    background-color: var(--card-color);
    border-radius: 15px;
    max-height: 100%;
    overflow: revert;
    padding: 0px 20px 20px 20px;

    display: grid;
    grid-gap: 15px;
}

#skills article {
    grid-template-columns: 100px 100px 100px 100px;
    width: calc(400px + 85px);
}

#hobbies article {
    grid-template-columns: 275px 275px;
    width: calc(550 + 55px);
}

#skills article h3 {
    text-align: center;
    grid-area: auto;
    grid-column-start: span 4;
}

#hobbies article h3 {
    text-align: center;
    grid-area: auto;
    grid-column-start: span 2;
}

#skills article p {
    font-size: 1.1em;
    float: none;
    grid-area: auto;
    height: 100px;
    text-align: center;
    padding: 0%;
}

#hobbies article p {
    font-size: 1.1em;
    float: none;
    grid-area: auto;
    width: 275px;
    text-align: center;
    padding: 0%;
}

#skills article img {
    filter: brightness(var(--brightness));
    float: none;
    grid-area: auto;
    height: calc(99% -  1.2em);
}

#hobbies article img {
    float: none;
    grid-area: auto;
    width: 100%;
    max-width: 275px;
    max-height: calc(99% -  1.2em);
}

#skills pre {
    font-size: 1.2em;
}

#skills pre img {
    filter: brightness(var(--brightness));
    width: 50px;
    margin-top: 15px;
}

#skills>p:last-of-type {
    padding-bottom: 20px;
}

.carousel {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containers {
    display: none;

    animation-name: fade;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
}

.back,
.forward {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    color: var(--font-color);
    font-weight: bold;
    font-size: 30px;

    transition: 0.5s;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forward {
    right: 25%;
}

.back {
    left: 25%;
}

.back:hover,
.forward:hover {
    background-color: var(--card-color);
}

.dots {
    padding-bottom: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 3px 0 3px;
    background-color: var(--font-highlight-color);
    opacity: 0.3;
    border-radius: 50%;
    display: inline-block;

    transition: background-color 1s;
}

.enable,
.dot:hover {
    opacity: 1;
}

@keyframes fade {
    from {
        opacity: .5
    }

    to {
        opacity: 2
    }
}

@media (max-width: 1500px) {
    #skills article {
        grid-template-columns: 100px 100px 100px 100px;
        min-width: calc(400px + 85px);
    }

    #hobbies article {
        grid-template-columns: 275px 275px;
        min-width: calc(550px + 55px);
    }

    .forward {
        right: 15%;
    }
    
    .back {
        left: 15%;
    }
}

@media (max-width: 1100px) {

    .forward {
        right: 5%;
    }
    
    .back {
        left: 5%;
    }
}

@media (max-width: 700px) {
    #skills article {
        grid-template-columns: 100px 100px 100px;
        min-width: calc(300px + 70px);
        width: calc(300px + 70px);
    }

    #skills article h3 {
        grid-column-start: span 3;
    
    }

    #hobbies article {
        grid-template-columns: 1fr; /* Cambia a una sola columna */
        justify-content: center; /* Centra el contenido si es necesario */
        min-width: calc(275px + 40px);
        width: calc(275px + 40px);
    }

    #hobbies article h3 {
        grid-column-start: auto; /* Evita que el título ocupe más de una columna */
        grid-column: span 1;
    }

    .forward {
        right: 1%;
    }
    
    .back {
        left: 1%;
    }
}

@media (max-width: 500px) {
    #skills article {
        grid-template-columns: 100px 100px;
        min-width: calc(200px + 55px);
        width: calc(200px + 55px);
    }

    #skills article h3 {
        grid-column-start: span 2;
    }
}