* {
    margin: 0;
    padding: 0;
    color: #042f2e;
    font-family: sans-serif;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

header {
    background-color: #D5EEE7;
    width: 100%;
    height: 7.5vh;
    min-height: 60px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: fixed;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}

nav {
    width: 50%;
    padding-top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-start;
}

nav ul {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-weight: 550;
}

h1 {
    font-size: 3em;
    margin: 10px;
}

h1 em {
    color: #0f766e;
    font-style: normal;
}

h2 {
    font-size: 1.6em;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.3em;
}

main {
    padding: 0;
    margin: 0%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main section {
    scroll-snap-align: end;
    position: relative;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main section:nth-child(1) {
    background-color: #D5EEE7;

    flex-direction: row;
}

main section:nth-child(2n) {
    background-color: #BCE4D9;
}

main section:nth-child(2n+3) {
    background-color: #D5EEE7;
}

/* Primera sección */

section:first-of-type article {
    max-width: 30%;
    text-align: center;
}

section article p {
    font-size: 1.2em;
}

section>img {
    margin-right: 2%;
    min-width: 250px;
    width: 18%;
    clip-path: polygon(50% 0%, 23% 8%, 5% 29%, 1% 57%, 12% 83%, 36% 98%, 64% 98%, 88% 84%, 99% 57%, 95% 29%, 77% 8%);
}

article ul {
    margin-top: 10px;
    width: 100%;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

li a img {
    width: 60px;
    height: auto;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    transition: padding 0.3s;
}

li a img:hover {
    padding: 0px;
}

#psocial {
    min-height: calc(1em + 2px);
    font-size: 1em;
    margin: 0;
    padding: 0;
}

a>img {
    padding-top: 10px;
    margin-bottom: 10px;
}


/* Resto de secciones */

section:nth-child(n+2) article {
    background-color: #F1F9F7;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    min-height: 200px;
    border-radius: 15px;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "t i"
        "p i";
    grid-auto-rows: min-height auto;
    grid-template-columns: 1fr 200px;
}

h3 {
    padding: 30px 30px 0px 30px;
    grid-area: t;
}

article p {
    align-self: start;
    height: 100%;
    padding: 0px 30px 30px 30px;
    grid-area: p;
}

article img {
    grid-area: i;
    max-height: 200px;
    max-width: 200px;
}

article a {
    color: #0f766e;
}

article a:hover {
    color: #66ACA4;
}

section:nth-child(n+2) article img {
    float: right;
}

a:hover {
    color: #0f766e;
}

section:last-of-type h2 {
    text-align: center;
}

footer {
    scroll-snap-align: end;
    background-color: #BCE4D9;
    text-align: center;
    padding: 20px;
    height: 10vh;
    min-height: 140px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1500px) {

    section:first-of-type article {
        max-width: 40%;
    }

    section:not(:first-child) article,
    nav,
    h2 {
        min-width: 60%;
    }
}

@media (max-width: 1100px) {
    main section:nth-child(1) {
        flex-direction: column;
    }

    section > img {
        margin-top: 70px;
    }

    section:not(:last-child) article,
    nav,
    section:not(:last-child) h2 {
        min-width: 75%;
    }
}

@media (max-width: 700px) {

    section:not(:last-child) article,
    h2 {
        min-width: 95%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section:not(:last-child) article>img {
        display: none;
    }
}

@media (max-width: 600px) {

    section {
        display: flex;
        flex-direction: column;
    }

    nav>ul {
        position: fixed;
        top: 60px;
        right: -100%;
        background-color: #BCE4D9;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }


    #menu-cb:not(:checked)~ul {
        right: -100%;
    }

    #menu-cb:checked~ul {
        right: 0%;
    }

    .nav-links li {
        display: block;
        margin-top: 30px;
    }

    .menu-btn {
        display: inline-block;
    }

    label>span {
        display: block;
        position: relative;
        width: 25px;
        height: 10px;
        border-top: 2.5px solid #042f2e;
        border-radius: 2px;

        transition-duration: 0.5s;
    }

    label>span:nth-child(1) {
        top: 0px;
    }

    label>span:nth-child(2) {
        top: 0px;
    }

    label>span:nth-child(3) {
        bottom: 0px;
    }

    #menu-cb:hover~label>span {
        transform: scaleY(0.95);
        border-color: #0f766e;
    }

    #menu-cb:checked~label>span:nth-child(1) {
        transform: rotate(45deg);
        top: 12px;
    }

    #menu-cb:checked~label>span:nth-child(2) {
        width: 0px;
    }

    #menu-cb:checked~label>span:nth-child(3) {
        transform: rotate(135deg);
        bottom: 13px;
    }
}